body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Form styling */
form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

select{
    margin-left: 10px;
}


input::placeholder {
    text-align: center; 
    color: #aaa;
}

/* Button styling */
button {
    background-color: #00346b;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 10px;
}

button:hover {
    background-color: #0056b3;
}
/*TABLE*/
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}


th {
    background-color: #00346b;
    color: white;
    padding: 10px 15px;
    text-align: left;
    font-weight: bold;
}

td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f4f4f4;
}

tr:hover {
    background-color: #e8f0fe;
}

th, td {
    border-bottom: 1px solid #ddd;
}

@media (max-width: 600px) {
    table {
        width: 100%;
    }

    th, td {
        padding: 8px;
        font-size: 0.9rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}
